---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Samyan Mustard">
	<main class="h-[100svh] w-[100vw] flex justify-center items-center flex-col gap-1">
		<h1 class="text-lg">Fascinating Stories, Emulsified</h1>
		<div class="flex text-neutral-400 gap-2">
			<a class="hover:text-neutral-300 transition-all" href="mailto:mail@samyanmustard.com">mail@samyanmustard.com</a>
		</div>
	</main>
</Layout>
